{
	"singleQuote": false,
	"trailingComma": "all",
	"semi": false,
	"printWidth": 80,
	"tabWidth": 2,
	"bracketSameLine": false,
	"arrowParens": "avoid",
	"singleAttributePerLine": true,
	"useTabs": true
}
